@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
}
.info-tile {
  background-image: linear-gradient(
      rgba(29, 179, 124, 0.6),
      rgba(29, 179, 124, 0.6)
    ),
    /* bottom, image */ url("/src/assets/images/conference.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.body {
  overflow-x: hidden;
}
.show {
  display: inline;
}
::-webkit-scrollbar {
  width: 10px;
}
