@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.header {
  /* use this to fit image in the div  */
  background-image: url("/src/assets/images/headerbg4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: center;
  background-attachment: scroll;
}
.topics-bg {
  background-image: url("/src/assets/images/headerbg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  background-position-x: right;
  background-attachment: scroll;
}
.info-tile {
  background-image: linear-gradient(
      rgba(29, 179, 124, 0.6),
      rgba(29, 179, 124, 0.6)
    ),
    /* bottom, image */ url("/src/assets/images/conference.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: center;
  background-position-x: right;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
}

.body {
  overflow-x: hidden;
}
.show {
  display: inline;
}
::-webkit-scrollbar {
  width: 10px;
}
