.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin: auto;
  padding-top: 0.7rem;
  padding-bottom: 1.5rem;
}

.fullcontainer {
  background-image: linear-gradient(15deg, #000000, #000000);
}

.context {
  display: flex;
  align-items: center;
  margin: auto;
  color: #ffffff;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0.5rem;
  border-top: 1px solid #5a5a5a7a;
}

@media only screen and (max-width: 768px) {
  .context {
    font-size: 2rem;
  }
}

.context > p {
  margin: auto;
  font-family: monospace;
  padding-bottom: 0.4rem;
}

.time_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 120px; */

  background: rgba(92, 117, 89, 0.308);
  border-radius: 1rem;
  color: var(--color-counter);
  display: flex;
  flex-direction: column;
  /* font-family: "JetBrains Mono", mono; */
  font-size: clamp(1rem, 8vw, 99rem);
  font-weight: 100;
  line-height: 1;
  padding: 2vw;
  text-align: center;
  color: #34d399;
  font-family: monospace;
}
.time_container > span {
  font-family: var(--title);
  font-style: normal;
  font-weight: 1500;
  font-size: 6.5rem;
  color: var(--black);
  flex: 0.5;
}
.time_container > div {
  font-family: monospace;
  font-size: 2rem;
  font-weight: 500;
  flex: 0.5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.time_container > div > p {
  margin-top: 0%;
  font-family: monospace;
}
.vertical {
  height: 100px;
  width: 15px;
  border: 3px solid black;
}
@media screen and (max-width: 1050px) {
  .container {
    width: 70%;
  }
  .time_container > span {
    font-size: 4.5rem;
  }
}
@media screen and (max-width: 900px) {
  .container {
    width: 75%;
  }
  .time_container {
    width: auto;
  }
  .time_container > span {
    font-size: 3.5rem;
  }
  .time_container > div {
    font-size: 1.5rem;
  }
  .vertical {
    height: 80px;
    width: 11px;
  }
}
@media screen and (max-width: 625px) {
  .container {
    width: 75%;
  }
  .time_container > span {
    font-size: 2rem;
  }
  .time_container > div {
    font-size: 1rem;
  }
  .vertical {
    height: 50px;
    width: 8.5px;
    border: 2.5px solid black;
  }
}
@media screen and (max-width: 400px) {
  .container {
    width: 75%;
  }
  .time_container > span {
    font-size: 2rem;
  }
  .time_container > div {
    font-size: 1rem;
  }
  .vertical {
    height: 50px;
    width: 8px;
  }
}
@media screen and (max-width: 380px) {
  .container {
    width: 75%;
  }
  .time_container > span {
    font-size: 1.5rem;
  }
  .time_container > div {
    font-size: 0.75rem;
  }
  .vertical {
    height: 35px;
    width: 6.5px;
    border: 2px solid black;
  }
}

@media screen and (max-width: 290px) {
  .container {
    width: 75%;
  }
  .time_container > span {
    font-size: 1.2rem;
  }
  .time_container > div {
    font-size: 0.6rem;
  }
  .vertical {
    height: 35px;
    width: 6px;
    border: 2px solid black;
  }
}
